.pdoc .alert.tip {
    color: #0a3622;
    background-color: #d1e7dd;
    border-color: #a3cfbb;
    background-image: url("data:image/svg+xml,{% filter urlencode %}{% include 'resources/lightbulb.svg' %}{% endfilter %}");
}

.pdoc .alert.important {
    color: #055160;
    background-color: #cff4fc;
    border-color: #9eeaf9;
    background-image: url("data:image/svg+xml,{% filter urlencode %}{% include 'resources/exclamation-square-fill.svg' %}{% endfilter %}");
}

.pdoc .alert.caution {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    background-image: url("data:image/svg+xml,{% filter urlencode %}{% include 'resources/exclamation-octagon-fill.svg' %}{% endfilter %}");
}